* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
}
.page {
  height: 100vh;
}
.page::before {
  content:'';
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  width: 300%;
  height: 100%;
  border-radius: 50%;
  background-color: #0075ff;
  z-index: -1;
  animation: waving 10s ease-in-out infinite alternate;
}
.page .card {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px #ddd inset;
}
.page .card img {
  max-width: 100%;
  border-radius: 10px;
}
.page .card h2 {
  margin: 0;
}
.page .card p {
  margin: 0;
}
@keyframes waving {
  from {
    transform: translateX(-50%) skew(0, -10deg);
  }
  to{
    transform: translateX(-30%) skew(10deg, 0);
  }
}