* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #eee;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 1.5rem;
  padding: 0.5rem;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1rem;
}
.container p span.typed-text {
  color: #009688;
  font-weight: normal;
}
.container p span.cursor {
  width: 3px;
  margin-left: 0.1rem;
  display: inline-block;
  background-color: #ccc;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ccc;
  }
}